<%= render 'events_header' %>
<div class="form-signin">
  <h2 class="form-signin-heading"><%= t('.sign_up') %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.label :email ,class:'sr-only'%>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:'form-control',id:'inputEmail',placeholder:'Email address'%>
  <%= f.label :password ,class:'sr-only'%>
  <% if @minimum_password_length %>
  <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
  <% end %>
  <%= f.password_field :password, autocomplete: "new-password" ,class:'form-control',id:'inputPassword',placeholder:'Password'%>
  <%= f.label :password_confirmation ,class:'sr-only'%>
  <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control',id:'inputPassword',placeholder:'Password確認' %>
  <div class="actions">
    <%= f.submit t('.sign_up') ,class: 'btn btn-primary'%>
  </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
