
<p><%= @event.title %></p>
<p><%= @event.content %></p>
<p><%= @event.event_date %></p>
<p><%= @event.place %></p>
<p><%= @event.fee %></p>
<p><%= image_tag @event.image.url %></p>

<div class="text-center">
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>

<p>コメント一覧</p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, event: @event } %>



<% if user_signed_in? %>
<%# unless @event.user_id == current_user.id %>
  <% if @eventroom.present? %>
    <%= link_to 'キャンセル', eventroom_path(id: @eventroom.id), method: :delete %>
  <% else %>
    <%= link_to '参加する', eventrooms_path(event_id: @event.id), method: :post %>
  <% end %>
<% end %>
