<%= render 'events_header' %>
<section class="page-section" id="about">
  <div class="container">
    <p><%= image_tag @event.image.url, size: "930x400" %></p>
    <p>主催者：<%= link_to @event.user.name, user_path(@event.user.id) %></p>
    <p><%= @event.title %></p>
    <p><%= @event.content %></p>
    <p>開催日時：<%= l @event.event_date %></p>
    <p>場所：<%= @event.place %></p>
    <p>参加費：<%= @event.fee %>円</p>
    <% if user_signed_in?  %>
      <p>連絡事項：<%= @event.contact %></p>
    <% end %>
    <p><% @event.labels.each do |label| %><label class='badge badge-primary'><%= label.name %></label><% end %></p>
    <div class="text-center">
      <% if user_signed_in? && current_user.id == @event.user_id || current_user.try(:admin?)%>
        <%= link_to 'Edit', edit_event_path(@event) %> |
        <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <% end %>
        <%= link_to 'Back', events_path %>
    </div>
    <br>
    <% if user_signed_in? %>
    <%# unless @event.user_id == current_user.id %>
      <% if @eventroom.present? %>
        <%= link_to 'キャンセル', eventroom_path(id: @eventroom.id), method: :delete ,class: 'btn btn-primary' %>
      <% else %>
        <%= link_to '参加する', eventrooms_path(event_id: @event.id), method: :post ,class: 'btn btn-primary' %>
      <% end %>
    <% end %>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-lg-10 align-self-end">
          <% if user_signed_in? %>
          <p>参加者一覧</p>
          <% @eventrooms.each do |eventroom| %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= link_to eventroom.user.name, user_path(eventroom.user_id) %></h5>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-lg-10 align-self-end">
          <p>コメント一覧</p>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
        </div>
        <% if user_signed_in? %>
          <%= render partial: 'comments/form', locals: { comment: @comment, event: @event } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
