<%= render 'events_header' %>
<section class="page-section" id="about">
  <div class="container">
    <!-- 編集削除ボタン -->
    <div class="text-right">
      <% if user_signed_in? && current_user.id == @post.user_id || current_user.try(:admin?)%>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <% end %>
        <%= link_to 'Back', posts_path %>
    </div>
    <br>
    <!-- 詳細内容-->
    <div class="base base-event-view">
      <div class="base-event-view-content">
        <div id="visual-banner">
          <div id="visual-banner-preview">
            <%= image_tag @post.image.url, class: "post_image"%>
          </div>
        </div>
        <hgroup>
          <div id="field-event-name" ><h1 class="event-name-ttl"><%= @post.title %></h1></div>
          <div class="subtitle-box">
            <div id="field-event-subtitle" >
            <strong></strong>
            </div>
          </div>
        </hgroup>
        <div class="col-main">
          <div class="box-wide">
            <div class="post">
              <span class="tags">投稿者</span>
              <div id="field-event-description" class="event-description">
                <section><%= link_to @post.user.name, user_path(@post.user.id) %></section>
              </div>
            </div>
            <div class="post">
              <span class="tags">詳細</span>
              <div id="field-event-description" class="event-description">
                <section><%= safe_join(@post.content.split("\n"),tag(:br)) %></section>
              </div>
            </div>
            <div class="post">
              <span class="tags">メイク道具</span>
              <div id="field-event-description" class="event-description">
                <section><%= safe_join(@post.cosmetic.split("\n"),tag(:br)) %></section>
              </div>
            </div>
            <div class="post center-block"">
              <% if @post.youtube_url.present? %>
              <span class="tags">youtube</span>
              <div id="field-event-description" class="event-description">
                <section><iframe width="890" height="400" src="https://www.youtube.com/embed/<%= @post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></section>
              </div>
              <% end %>
            </div>
          </div>
          <div class="post-section">
            <div class="tag-list">
              <% @post.labels.each do |label| %><label class='badge badge-primary'><%= label.name %></label><% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
